
.header{
	background-color: #4c7498;
	margin-bottom: 40px;
}
.navbar a{
	color:#FFF !important;
}
.main-header{
    font-size: 18px;			
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 1px;
    clear:both;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #4c7498;
}
.navbar-brand{
	padding:0;
}
.secondary-nav{
    margin-bottom: 10px;
    min-height: 15px;
    font-size: 12px;
    height: 35px;
}
.secondary-nav .navbar-nav>li>a{
    padding: 10px 10px 0;
}
.navbar-toggle .icon-bar {
  color: #FFF;
  border-color: #FFF;
  background-color: #FFF;
}
#weather {
    padding-top: 10px;
}
#weather .fa{
	color:#FFF;

}
.container.carousel{
	margin-top: 30px;
}
.sec-one {	
	display: block;
    min-height: 54px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 37px;
}
.grey{
	background-color: #eaeaea;
}
.dark-grey{
	background-color: #909599;
}
.grey .container{
	padding: 20px 0;
}

.vg-box{
	background-color: #4c7498;
	padding: 20px;
}
.vg-box img{
	float: left;
}
.vg-text{
    text-align: center;
    color: #a4c1df;
    font-weight: bold;
    margin-top: 80px;
    font-size: 23px;
}
.spacer{
	margin-top: 20px;
}
.social{
    color: #8d949a;
    background-color: #a7bfe3;
    width: 60px;
    height: 60px;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    padding-top: 12px;
}
#sign-up p{
	color: #FFF;
	margin: 10px 0;
	font-weight: bold;
}
.sub-site button{
    width: 145px;
    margin-right: 65px;
}
p.footer-links {
	text-align: center;
}
.footer-links a{
    color: #FFF;
    font-size: 12px;
    text-decoration: none;
    letter-spacing: 1px;
    margin: 0 10px;
}
.footer-links  .fa, .copyright  .fa{
    font-size: 5px;
    color: #FFF;
    position: relative;
    top: -2px;
}
.copyright{
	text-align: center;
	color: #FFF;
}
.dropup button{
    width: 80%;
    text-align: left;
}
.dropup button .caret{
    float: right;
    margin-top: 8px;
}
.dropdown-menu{
	width: 80%;
}




@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sec-one {
	    display: inline-block;
	    width: 47%;
	    margin-left: 15px;
	}
}